<div class="">
    <div class="">
      <div class="">
        <h3>Reestablecer Contraseña</h3>
  
        <p class="">Ingrese su correo electrónico para solicitar un restablecimiento de contraseña.</p>
  
        <div class="">
          <input type="email" class="" placeholder="Correo" #passwordResetEmail required>
        </div>
  
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="">
          <input type="submit" class="" value="Reestablecer Contraseña" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
  
      <div class="">
        <span>Volver a? <span class="" routerLink="/sign-in">Ingresar</span></span>
      </div>
  
    </div>
  </div>
