<div class="">
  <app-principal-nav></app-principal-nav>
  <h1>Reestablecer Contraseña</h1>
  <div class="all">
    <div class="">
      <p class="">Ingrese su correo electrónico para solicitar un restablecimiento de contraseña.</p>
      <div class="">
        <input type="email" class="input1" placeholder="Correo" #passwordResetEmail required>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="">
        <input type="submit" class="botones" value="Reestablecer Contraseña" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>
    <div class="">
      <span>Volver A? <span class="botones" routerLink="/sign-in">Ingresar</span></span>
    </div>
  </div>
</div>
