<div>
    <app-principal-nav></app-principal-nav>
    <div class="body2">
        <h1>¿Quienes Somos?</h1>
        <div class="text">
            <span>
                Nuestra página está diseñada, creada para que los usuarios puedan buscar productos tecnológicos sean como partes de computadores (Procesadores, Tarjetas gráficas, MotherBoards, etc.…), pero también artículos más convencionales como (Cámaras, Celulares, Sistemas de sonido, etc.…), y facilitarles la comparación entre los mismos productos de diferentes sitios web y con esto puedan decidir de manera más fácil cual comprar.
            </span>
        </div>

        <div class="WeBan">
            <div class="banner">
                <div class="banner1">
                </div>
            </div>
            <div class="WeText">
                <div class="WeTextIzq">
                    <span>Nombre:</span>
                    <span>Edad:</span>
                    <span>Carrera:</span>
                    <span>Semestre:</span>
                    <span>Universidad:</span>
                </div>
                <div class="WeTextDer">
                    <span>Julian David Ortiz Alviar</span>
                    <span>20 Años</span>
                    <span>Ing. Sistemas</span>
                    <span>7mo Semestre</span>
                    <span>Santiago De Cali</span>
                </div>
                <div class="WeTextDer2">
                    <span>Santiago Andres Castro Cruz</span>
                    <span>19 Años</span>
                    <span>Ing. Sistemas</span>
                    <span>7mo Semestre</span>
                    <span>Santiago De Cali</span>
                </div>
            </div>
        </div>
    </div>
</div>
