<div class="">
  <app-principal-nav></app-principal-nav>
    <h1>Regístrate</h1>
    <div class="all">
      <input type="email" class="input1" placeholder="Correo Electrónico" #userEmail required>
      <input type="password" class="input1" placeholder="Contraseña" #userPwd required>
      
      <div>
        <input type="button" class="botones" value="Registrarme" (click)="authService.SignUp(userEmail.value, userPwd.value)">
        <span class=""><span class="or">ó</span></span>
        <!-- Continue with Google -->
        <button type="button" class="botones" (click)="authService.GoogleAuth()">
          <i class=""></i>
            Iniciar Con Google
        </button>
      </div>

      <div>
        <!-- Continue with Facebook -->
        <button type="button" class="botones" (click)="authService.FacebookAuth()">
          <i class=""></i>
          Iniciar Con Facebook
        </button>
      </div>
      <span>¿Ya Tienes Una Cuenta? <span class="botones" routerLink="/sign-in">Inicia Sesión</span></span>
    </div>
</div>
