<div class="Box">
    <a class="botones" href= "{{item.URL}}" >
        <div class="Box-Img">
            <img src={{item.img}} alt="">
        </div>
        <div class="Box-Text">
            <div class="Box-Izq">
                <div>
                    <span>Dispositivo: </span>
                    <span class="attr">{{item.brand}} {{item.model}}</span>
                    
                </div>
                <div class="Box-Text-container">
                    <span>Precio:</span>
                    <span class="attr">{{item.price}}</span>
                </div>
                <div class="Box-Text-container">
                    <span>Sitio:</span>
                    <span class="attr">{{item.page}}</span>
                </div>    
            </div>
        </div>
    </a>
</div>