<div>
  <app-principal-nav></app-principal-nav>
  <div class="banner">
    <img class="banner-img" alt="Asus Publicidad" src="assets/Banner/Banner1.jpg"/>
  </div>
  <h1>Categorias</h1>

  <div class="categories">
    
    <ul>
      <section class="Carrusel">
        <section class="Carrusel_Contenedor">
          <div class="Carrusel_Item">
            <img
              class="categories-img"
              src="assets/Categories/CPU.png"
              alt="CPU image"
            />
            <div class="categories-titulo">
              <h2>
                Procesadores
              </h2>
            </div>
          </div>

          <div class="Carrusel_Item">
            <img
              class="categories-img"
              src="assets/Categories/GPU.png"
              alt="GPU image"
            />
            <div class="categories-titulo">
              <h2>
                Tarjetas Graficas
              </h2>
            </div>
          </div>

          <div class="Carrusel_Item">
            <img
              class="categories-img"
              src="assets/Categories/Camara.png"
              alt="Camera image"
            />
            <div class="categories-titulo">
              <h2>
                Camaras
              </h2>
            </div>
          </div>

          <div class="Carrusel_Item">
            <img
              class="categories-img"
              src="assets/Categories/Fuente.png"
              alt="PW image"
            />
            <div class="categories-titulo">
              <h2>
                Fuentes De Poder
              </h2>
            </div>
          </div>

          <div class="Carrusel_Item">
            <img
              class="categories-img"
              src="assets/Categories/HDD.png"
              alt="HDD image"
            />
            <div class="categories-titulo">
              <h2>
                Unidades De Almacenamiento
              </h2>
            </div>
          </div>

          <div class="Carrusel_Item">
            <img
              class="categories-img"
              src="assets/Categories/MotherBoard.png"
              alt="MB image"
            />
            <div class="categories-titulo">
              <h2>
                Tarjetas Madres
              </h2>
            </div>
          </div>

          <div class="Carrusel_Item">
            <img
              class="categories-img"
              src="assets/Categories/Portatiles.png"
              alt="Laptops image"
            />
            <div class="categories-titulo">
              <h2>
                Portatiles
              </h2>
            </div>
          </div>

          <div class="Carrusel_Item">
            <img
              class="categories-img"
              src="assets/Categories/RAM.png"
              alt="GPU image"
            />
            <div class="categories-titulo">
              <h2>
                Modulos de RAM
              </h2>
            </div>
          </div>

          <div class="Carrusel_Item">
            <img
              class="categories-img"
              src="assets/Categories/Raton.png"
              alt="Raton image"
            />
            <div class="categories-titulo">
              <h2>
                Ratones
              </h2>
            </div>
          </div>

          <div class="Carrusel_Item">
            <img
              class="categories-img"
              src="assets/Categories/Speakers.png"
              alt="Speakers image"
            />
            <div class="categories-titulo">
              <h2>
                Sistemas De Sonido
              </h2>
            </div>
          </div>

          <div class="Carrusel_Item">
            <img
              class="categories-img"
              src="assets/Categories/Teclado.png"
              alt="Keyboard image"
            />
            <div class="categories-titulo">
              <h2>
                Teclados
              </h2>
            </div>
          </div>
        </section>
      </section>
    </ul>
  </div>
  
 

</div>
