.banner{
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
    animation: animacion1 2.5s linear;
}
@keyframes animacion1{
    0% {
        opacity: 0%;left: -1800px;
    }
    100%{
        opacity: 100%; left: 0px;
    }
}

.banner1{
    width: 100%;
    height: 360px;
    animation: animacion2 10s infinite;
}
@keyframes animacion2{

    0%, 30%{
        background-image: url(../../../assets/Banner/Banner1.jpg);
        opacity: 1;
    }
    31%, 35%{
        opacity: 0.1;
    }
    36%, 65%{
        background-image: url(../../../assets/Banner/Banner2.jpg);
        opacity: 1;
    }
    66%, 69%{
        opacity: 0.1;
    }
    70%, 100%{
        background-image: url(../../../assets/Banner/Banner3.jpg);
        opacity: 1;
    }
}

ul{
    margin: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

.categorias{
    transition: 500ms;
}
.categorias:hover{
    transform: scale(1.2);   
}
.categories-img{
    max-width: 215px;
    max-height: 250px;
}

h1{
    margin-top: 40px;
    margin-bottom: 0px;
}
.Carrusel {
    width: 100%;
    overflow: scroll;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 400px;
}
.Carrusel:hover{
    overflow-x: visible;
}
.Carrusel_container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
    
}
.Carrusel_Item {
    cursor: pointer;
    display: inline-block;
    width: 250px;
    height: 320px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 30px;
    transition: 450ms;
    transform-origin: center left;
    position: relative;
}
.Carrusel_Item a{
    color: black;
    text-decoration: none;
    text-decoration-line: none;
}
.categories-img-div{
    height: 215px;
    width: 250px;
}
.categories-title{
    display: flex;
    justify-content: center;
}
.Carrusel_Item:hover ~ .Carrusel_Item {
    transform: translate3d(65px, 0, 0);
}
.Carrusel_container:hover .Carrusel_Item {
    opacity: 0.7;
}
.Carrusel_container:hover .Carrusel_Item:hover {
    transform: scale(1.2);
    opacity: 1;
}

.Footer{
    width: 100%;
    background-color: #ebcaa8;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    height: 150px;
}
.Footer a,.Footer h3{
    color: black;
    text-decoration: none;
    text-decoration-line: none;
    transition: 500ms
}
.Footer h3{
    cursor: default;
    margin-top: 10px;
    margin-bottom: 6px;
}
.Footer a:hover ,.Footer h3:hover{
    transform: scale(1.35);
}
.footer_left{
    grid-column-start: 2;
    display: grid;
    justify-content: center;
}
.tittle_footer_left{
    display: flex;
    justify-content: center;
}
.footer_right{
    grid-column-start: 4;
    display: grid;
    justify-content: center;
}
.tittle_footer_right{
    display: flex;
    justify-content: center;
}

