<body>
  <div class="toolbar" role="banner">
    <img alt="computador logo" src="assets/Logo.png"/>
      <div class="spacer">
        <a href="">Ensambla Tu Pc</a>
        <a href="">¿Quienes Somos?</a>
        <a href="">Soporte</a>
        <a href="">HardWare General</a>
        <a href="">HardWare Pc</a>
      </div>
      <div class="tittle">
        <a (click)="authService.SignOut()">
          <i class="logOut">Cerrar sesión</i>
        </a>
      </div>

  </div>
    
  <div class="second_toolbar">
    <a class="account" href="">Mi Cuenta</a>
    <div class="search">
      <input class="search-var" type="search" id="gsearch" name="gsearch" placeholder="Buscar">
      <input type="submit">
    </div>
    <a class="shopping" href="">Lista</a>
  </div>

  <nav class="">
    <div class="">
      <ul class="">
        <li class="">
          <a class="">
            <i class=""></i>User Profile
          </a>
        </li>
        
        <li class="">
          
        </li>
      </ul>
    </div>
  </nav>
</body>