<div>
  <app-principal-nav></app-principal-nav>
  <div class="banner">
    <img class="banner-img" alt="Asus Publicidad" src="assets/Banner/Banner1.jpg"/>
  </div>
  <h1>Categorias</h1>

  <div class="categories">
    
    <ul>
      <section class="Carrusel">
        <section class="Carrusel_Contenedor">
          <div class="Carrusel_Item">
            <img
              class="categories-img"
              src="assets/Categories/CPU.png"
              alt="CPU image"
            />
            <div class="categories-titulo">
              <h2>
                Procesadores
              </h2>
            </div>
          </div>

          <div class="Carrusel_Item">
            <img
              class="categories-img"
              src="assets/Categories/GPU.png"
              alt="GPU image"
            />
            <div class="categories-titulo">
              <h2>
                Tarjetas Graficas
              </h2>
            </div>
          </div>

        </section>
      </section>
    </ul>
  </div>
  
 

</div>
