<div>
    <app-principal-nav></app-principal-nav>
    <h1 style="align-content: center;">Soporte</h1>
    <div class="body2">
        <div class="text">
            <span>Nosotros no nos hacemos cargo por (estafas, robos, perdidas, daños, defectos, etc...) de los productos que se hayan adquirido, ya que solamente nuestro servicio facilita al cliente encontrar sus productos mas rapido y tambien una mejor perspectiva para compararlos con otros.</span>
            <br>
            <span>Abajo podra ver los logos de las paginas de las cuales nosotros mostramos su catalogo, al darle clic sera redirigido al soporte de la que haya escojido.</span>
            <h2>Soporte De Las Paginas</h2>
        </div>
        <div class="divsito">
            <div class="box1">
                <a href="https://www.amazon.com/spr/returns" ><img class="img-box" src="assets/Soportes/Amazon.png" alt=""></a>
            </div>
            <div class="box2">
                <a href="https://www.pccomponentes.com/soporte/" ><img class="img-box" src="assets/Soportes/PcComponentes.png" alt=""></a>
            </div>
            <div class="box3">
                <a href="https://www.alkosto.com/garantia" ><img class="img-box" src="assets/Soportes/Alkosto.png" alt=""></a>
            </div>
            <span>Haz clic para redirigirte al soporte de la pagina que solicites. </span>
        </div>
        
    </div>
</div>